 <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">Basic CRUD app</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				{{#if user}}
				<li>
					<a class="nav-link active" aria-current="page" href="/links">Links</a>
				</li>
				<li>
					<a class="nav-link active" aria-current="page" href="/profile">Profile</a>
				</li>
				<li>
					<a class="nav-link active" aria-current="page" href="/logout">Logout</a>
				</li>
				{{else}}
				<li>
					<a class="nav-link active" aria-current="page" href="/signin">Signin</a>
				</li>
				<li>
					<a class="nav-link active" aria-current="page" href="/signup">Signup</a>
				</li>
				{{/if}}
				<li class="nav-item">
					<a href="https://github.com/Samuelpaz95" class="nav-link" target="_blank">
						My github
						<img src="https://github.com/favicon.ico" width="20px">
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>